# Development code #
####################
*ipynb*

# Cached files #
################
src/__pycache__/*
*.pyc

# Large files #
################
*.sqlite

# Executables #
################
run_pipeline.sh
run_pipeline_script.sh